<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="header">
    <h1 class="title">My Book Notes</h1>
<p class="p">Welcome to my book notes website, where i keep track of the books I've read, and the books I want to read!</p>


</div>
</body>
</html>