

.header {
    background-color: #000000;
    color: rgb(255, 237, 237); 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    margin: 50px auto; 
    margin-top:auto;
}

body {
    padding-top: 20px; 
    background-image: linear-gradient(to right, #0e0e0e, #b11c1c);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    flex-direction: column;
    margin: 0;
}


.box, .box2 {
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    margin: 0 auto; 
    height: auto; 
    overflow-y: auto; 
}

.dlt{
    color: rgb(0, 0, 0);
    cursor: pointer;  

  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s;
}

.dlt:hover {
    background-color: #4b0000;  
    transform: scale(1.05); 
    color:#fff;    
}

.view {
    color: rgb(0, 0, 0);
    cursor: pointer;  
    box-shadow: 0 4px 8px rgba(240, 163, 163, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
}

.view:hover {
    background-color: #e78686;  
    transform: scale(1.05);     
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.book-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-container {
    display: flex;
    overflow-x: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px; 
    width: 100%; 
}


.book-list {
    display: flex;
    gap:20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.book-item {

    flex: 0 0 200px;
    scroll-snap-align: start;
    text-align: center;
    background-color: #ffffff56;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 8px;
    height:500px;
    overflow: hidden;
}
.book-item:last-child {
    border-right: none; 
}

.book-item img {
    width: 100%;  
    max-width: 250px; 
    height: auto; 
    margin-bottom: 5px;
}




.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}


.left-arrow {
    left: 10px; 
}

.right-arrow {
    right: 10px; 
}

a {
    display: block;               
    margin: 50px auto;            
    text-align: center;           
    text-decoration: none;        
    color: rgb(48, 0, 0);                 
    background-color: #8f4f4f;    
    padding: 20px;                
    border-radius: 5px;           
    width: 50%;                   
    max-width: 300px;          
}


a:hover {
    background-color: #ffe1e1;
}

.book-container::-webkit-scrollbar {
    display: none; 
}

.book-container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





.title {
    margin: 0; 
    font-size: 2.5em;
}

.p {
    margin: 10px 0 0; 
    font-size: 1.2em; 
}

@media (max-width: 600px) {
    .book-item {
        width: 150px; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .book-item {
        width: 180px; 
    }
}
